[package]
name = "ludusavi"
version = "0.21.0"
authors = ["mtkennerly <mtkennerly@gmail.com>"]
edition = "2021"
description = "Game save backup tool"
repository = "https://github.com/mtkennerly/ludusavi"
readme = "README.md"
license = "MIT"

[dependencies]
base64 = "0.13.0"
byte-unit = "4.0.14"
chrono = { version = "0.4.20", features = ["serde"] }
clap = { version = "4.4.11", features = ["derive", "wrap_help"] }
clap_complete = "4.4.4"
dialoguer = "0.10.1"
dirs = "4.0.0"
filetime = "0.2"
flexi_logger = { version = "0.25.3", features = ["async"] }
fluent = "0.16.0"
fuzzy-matcher = "0.3.7"
globetter = "0.1.1"
globset = "0.4.10"
iced = { version = "0.10.0", features = ["advanced", "tokio"] }
# iced_native = { version = "0.10.3" }
iced_style = "0.9.0"
image = { version = "0.24.2", features = ["ico"], default-features = false }
indicatif = { version = "0.16.2", features = ["rayon"] }
intl-memoizer = "0.5.1"
itertools = "0.10.3"
log = "0.4.17"
native-dialog = "0.6.3"
once_cell = "1.13.0"
opener = "0.6.1"
rayon = "1.5.3"
regex = "1.6.0"
reqwest = { version = "0.11.11", features = ["blocking", "gzip", "rustls-tls"], default-features = false }
serde = { version = "1.0.139", features = ["derive"] }
serde_json = "1.0.82"
serde_yaml = "0.8.25"
sha1 = "0.10.1"
shlex = "1.1.0"
signal-hook = "0.3.15"
steamlocate = "2.0.0-alpha.0"
tokio = { version = "1.21.2", features = ["macros", "time"] }
unic-langid = "0.9.0"
walkdir = "2.3.2"
which = "4.4.0"
whoami = "1.2.1"
zip = "0.6.2"

[target.'cfg(windows)'.dependencies]
winreg = "0.14.0"
winapi = { version = "0.3.9", features = ["wincon"], default-features = false }

[target.'cfg(windows)'.build-dependencies]
winres = "0.1.12"

[dev-dependencies]
maplit = "1.0.2"
pretty_assertions = "1.2.1"

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3
